:root {
  --text-primary: #212121;
  --text-nav: #2196f3;
  --text-web-header: #000;
  --text-web-color: #2196f3;
  --contact-link: #757575;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
body {
  font-family: var(--primary-font);
}
.header {
  border-bottom: 1px;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.web-header {
  font-family: var(--secondary-font);
  color: var(--text-web-header);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  margin: 50px;
  align-items: center;
}
.web-color {
  font-family: var(--secondary-font);
  color: var(--text-web-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;

  margin-left: auto;
}
.site-nav-item {
  display: flex;
  margin: 0 25px;
}
.nav-link {
  font-family: var(--primary-font);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
}
.contacts {
  display: flex;

  margin-left: auto;
}

.contacts-item {
  display: flex;
  margin: 0 25px;
}
.contact-link {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
}
.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--text-nav);
}
.solution {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}
.main-title {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.button {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: var(--text-nav);
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-main-title {
  display: none;
}
.features {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
  align-items: flex-start;
  flex-direction: flex-start;
  justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 10px;
}
.features-text {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-link);
}
.works-section {
  padding: 0px;
}

.works-title {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-bottom: 50px;
}

.works {
  display: flex;
}
.works-item {
  display: flex;
  align-items: flex-start;
  flex-direction: flex-start;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 30px;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.team-section {
  background-color: #f5f4fa;
}
.our-team {
  margin: 50px;
}
.team {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item-title {
  padding: 30px 0;
}
.team-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  line-height: 19px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.team-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contact-link);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.list-footer {
}
.address {
  font-family: var(--primary-font);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  flex-direction: column;
}
.list-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-link-footer {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
.web-footer {
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 20px;

  flex-direction: row;
}
.filter {
  display: flex;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 50px;
}
.features-item-title {
  padding: 30px;
  border: 1px;
}
.gallery-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.filter-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  background-color: var(--text-web-color);
  color: #fff;
}
.gallery-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-text {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  line-height: 19px;
  margin-bottom: 19px;
}
